// color
$primary-background-color: #ffffff;
$primary-text-color: #212121;
$secondary-color: #737373;
$search-box-border-button: #ccc;

// mediaQuery Size
$sizepoint-mobile: 360px;
$sizepoint-desktop: 1024px;
