@use "./config/variables" as var;
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var.$nav-background-color;

  height: 25px;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 180px;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    .nav-column-bar {
      color: var.$primary-text-color;
    }
    &__link {
      color: var.$primary-text-color;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        font-weight: bold;
        color: var.$nav-hover-color;
      }
    }
  }
  &__profile-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
    &__icon {
      height: 100%;
      &:hover {
        filter: contrast(200%);
      }
    }
  }
}
