$primary-white-color: #ffffff;
$primary-gray-color: rgb(181, 181, 181);
$primary-border-color: #e4e4e4;
$primary-text-color: #5f7f90;
$button-color: #0078ff;
$button-background-color: #eeebff;
$nav-background-color: #0c151c;
$nav-color: rgb(181, 181, 181);
$nav-hover-color: #ffffff;

$banner-primary-color: rgb(181, 181, 181);

$inner-width: 1000px;
