main {
  display: flex;
  margin: 5% 0;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 1350px;
  gap: 40px;
}
.main-container .main-content {
  width: 100%;
  flex: 1;
}
.main-container .main-content__frame__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
}
.main-container .main-content__frame__header .title {
  font-size: 24px;
  font-weight: bold;
}
.main-container .main-content__frame__header .more-button {
  border: 1px solid #0078ff;
  color: #0078ff;
  font-size: 18px;
  background-color: #ffffff;
  padding: 7px 14px;
  border-radius: 5px;
}
.main-container .main-content__frame__header .more-button:hover {
  border: 1px solid #0078ff;
  background-color: #0078ff;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.main-container .main-content__frame__recruitment__card {
  display: flex;
  margin-bottom: 35px;
  height: 220px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
}
.main-container .main-content__frame__recruitment__card img {
  width: 45%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.main-container .main-content__frame__recruitment__card .recruitment-card-contents {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-container .main-content__frame__recruitment__card .recruitment-card-contents__title {
  font-size: 22px;
  font-weight: bold;
  height: 50%;
}
.main-container .main-content__frame__recruitment__card .recruitment-card-contents__schedule {
  color: #5f7f90;
  line-height: 30px;
}
.main-container .main-content__frame__tech-feed {
  display: flex;
  gap: 25px;
}
.main-container .main-content__frame__tech-feed__card {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 370px;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__content {
  height: 80%;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__content__icon {
  width: 100%;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__content__icon img {
  width: 36px;
  border-radius: 6px;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__content__title {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__footer {
  height: 20%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__footer__author {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__footer__author-icon {
  width: 24px;
  border-radius: 24px;
}
.main-container .main-content__frame__tech-feed__card .tech-feed-card__footer__author-name {
  font-size: 14px;
  color: #5f7f90;
}
.main-container .side-content {
  width: 350px;
}
.main-container .side-content__card {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.main-container .side-content__card__header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 70px;
  border-bottom: 1px solid #e4e4e4;
}
.main-container .side-content__card__header-title {
  font-size: 20px;
  font-weight: bold;
}
.main-container .side-content__card__information {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.main-container .side-content__card__information .name-email .name {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-container .side-content__card__information .name-email .email {
  font-size: 16px;
  color: #5f7f90;
}
.main-container .side-content__card__information .name-email,
.main-container .side-content__card__information .desired-job,
.main-container .side-content__card__information .tech,
.main-container .side-content__card__information .career {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
}
.main-container .side-content__card__information .name-email .card-topic,
.main-container .side-content__card__information .desired-job .card-topic,
.main-container .side-content__card__information .tech .card-topic,
.main-container .side-content__card__information .career .card-topic {
  color: #5f7f90;
}
.main-container .side-content__card__information .name-email .card-content,
.main-container .side-content__card__information .desired-job .card-content,
.main-container .side-content__card__information .tech .card-content,
.main-container .side-content__card__information .career .card-content {
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
