main {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.main-navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  &__list {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;

    &__item {
      display: flex;
      padding: 0 15px;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: #e4e4e4;
        transition: 0.3s;
      }
      &:active {
        cursor: pointer;
        background-color: #616161;
        transition: 0.3s;
      }
      &-subtitle {
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
      }
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        img {
          width: 20px;
        }
      }
      &-name {
        line-height: 35px;
        font-size: 14px;
        font-weight: 200;
        padding-left: 20px;
      }
    }
  }
}
.main-content {
  flex: 1;
  height: 100%;
  margin-left: 200px;
  &__filter {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    background-color: white;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    &__icon {
      padding: 3px 10px;
      border-radius: 15px;
      border: 1px solid #969696;
      font-size: 14px;
      &:hover {
        background-color: #acacac;
        transition: 0.4s;
      }
    }
  }
  &__video-list {
    height: calc(100% - 50px);
    background-color: #f9f9f9;
    padding: 65px 0 0 65px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    .video-card {
      width: 330px;
      height: 280px;
      display: flex;
      flex-direction: column;
      padding: 3px;
      border-radius: 5px;
      &:active {
        background-color: rgba($color: #000000, $alpha: 0.1);
        transition: 0.3s;
      }
      &__thumbnail {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
      &__detail {
        margin-top: 10px;
        padding: 0 5px;
        display: flex;
        gap: 10px;
        width: 100%;
        height: 33%;
        &__profile {
          width: 32px;
          height: 32px;
          border-radius: 20px;
        }
        &__description {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &__title {
            font-size: 16px;
          }
          &__content {
            font-size: 12px;
            font-weight: 200;
            .views:after {
              content: "•";
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
